<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript" src="../../js/histo_cc_chart.js"></script>
<script>var s='6_DOC_Histo_Perf_CC_';</script>
<script>
$.getJSON("../controller/api/fn_rsm", function(json){
            $('#myselect').empty();
            $('#myselect').append($('<option>').text("Choisir Un CC..."));
            $.each(json, function(i, obj){
                    $('#myselect').append($('<option>').text(obj.text).attr('value', obj.val));
            });
    });
	</script>
	<style>
	a.canvasjs-chart-credit{visibility: hidden;}
	span.cellWithoutBackground
{
    display:block;
    background-image:none;
    margin-right:0px;
    margin-left:0px;
    height:100%;
}
 /* set the size of the datepicker search control for Order Date*/
        #ui-datepicker-div { font-size:11px; }
        .ui-datepicker { z-index: 2000 }
        
        /* set the size of the autocomplete search control*/
        .ui-menu-item {
            font-size: 11px;
        }

         .ui-autocomplete {
            z-index: 2000;
            font-size: 11px;
        }  
p {
      visibility:hidden;
}		
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }	
 </style>
<img src="ajax-loader.gif" class="displayed" style="position:relative;" id="load" width="50px" height="50px"/>
<script>
$(document).ready(function(){

    $("legend").hide();
});
$(document).load(function(){
    $("#load").append('loaded');
});
$(document).ready(function(){

    $("#load").hide();
});
$(document).ready(function(){

    $("legend").show();
});
</script> 
</head>

<body>
<div id="imprim">
<legend> <span class="glyphicon glyphicon-flash"></span> Historique Par CC</legend>

  <table id="jqGrid" ></table></div>
    <div id="jqGridPager" style="position:relative;"></div> 
<script type="text/javascript"> 
var agence = sessionStorage.getItem("agence"); 
$(document).ready(function () {
	

		$("#jqGrid").jqGrid({
		url: "../controller/api/fn_histo_global?agence="+agence,
		datatype: "json",
		colModel:[{ label: 'Année ',align:"left", name: 'id',width:150}	],
		 colModel: [
			{ label: 'Mois',width:70, name: 'Dureetrait',align:"center",sorttype:"integer",stype: "select", searchoptions:{dataUrl:'../controller/month.php'}},
			{ label: 'Année',width:70, name: 'anne',align:"center",sorttype:"string",stype: "select", searchoptions:{dataUrl:'../controller/year.php'}},
			{ label: 'RSM',width:150,align:"center", name: 'RSM',sorttype:"string",stype: "select", searchoptions:{dataUrl:'../controller/rsm.php'}},
			{ label: '# de déc',width:70, name: 'nbdec',align:"center",sorttype: 'integer'},
			{ label: 'Vol de déc',width:70, name: 'vldec',align:"center",sorttype: 'integer'},
			{ label: '# encours',width:70, name: 'nb',align:"center",sorttype: 'integer'},
			{ label: 'Vol encours',width:70, name: 'nbencours' ,sorttype: 'integer' ,align:"center",formatter:'integer', formatoptions:{decimalSeparator:".", thousandsSeparator: " ", decimalPlaces: 0} },
			{ label: 'Par1',width:70, name: 'somme' ,sorttype: 'integer' ,align:"center",formatter:'integer', formatoptions:{decimalSeparator:".", thousandsSeparator: " ", decimalPlaces: 0}},
			{ label: '% Par1',width:70, name: 'perpar1' ,sorttype: 'integer' ,align:"center",formatter:'integer', formatoptions:{decimalSeparator:".", thousandsSeparator: " ", decimalPlaces: 2}},
			{ label: 'Par30',width:70, name: 'somencours',align:"center",sorttype: 'integer',formatter:'integer', formatoptions:{decimalSeparator:".", thousandsSeparator: " ", decimalPlaces: 0}},
			{ label: '% Par30',width:70, name: 'perpar30' ,sorttype: 'integer' ,align:"center",formatter:'integer', formatoptions:{decimalSeparator:".", thousandsSeparator: " ", decimalPlaces: 2}},
			{ label: 'Par90',width:70, name: 'par90',align:"center",sorttype: 'integer',formatter:'integer', formatoptions:{decimalSeparator:".", thousandsSeparator: " ", decimalPlaces: 0}},
			{ label: '% Par90',width:70, name: 'perpar90' ,sorttype: 'integer' ,align:"center",formatter:'integer', formatoptions:{decimalSeparator:".", thousandsSeparator: " ", decimalPlaces: 2}},
		],
		
		
		autowidth:true,
		pgbuttons: false,     
		pgtext: false,         
		viewrecords: true, 
		height: 390,
		rowNum: 1000,
		loadonce: true,
		pager: "#jqGridPager",
		footerrow: false,
		
              

	});
	
	$("#jqGrid").jqGrid('navGrid','#jqGridPager',{add:false,del:false,edit:false,search:true ,refresh:false},
                        {},{},{},{multipleSearch:true}),
						
{
        addCaption:'search',
        top:300,    
        left:700   
    };
		  setPrintGrid('jqGrid','jqGridPager','Print');
		  setExportGrid('jqGrid','jqGridPager','Export');
	   
        });



 </script>
<div class="col-md-12"><div class="col-md-4"> <b>CC: </b><select id="myselect" name="myselect" class="form-control" onchange="remplir_gl()"></select>
 </div>
 </div>
  <br>
<div class="col-md-6"><div id="chartContainer4" style="height: 300px; width: 100%;"></div> </div>
<div class="col-md-6"><div id="chartContainer5" style="height: 300px; width: 100%;"></div> </div>

<div id='prt-container' ><p> Historique </p><br></div></div>
<script>

	function remplir_gl() {
	var myselect=document.getElementById('myselect').value;
	loadchart(myselect);	
		}
</script>
</body>
</html>