<!DOCTYPE html>

<html lang="en">
<head>
<script>var s='6_DOC_clot_anticipe_m_';</script>
	<style>
	span.cellWithoutBackground
{
    display:block;
    background-image:none;
    margin-right:0px;
    margin-left:0px;
    height:100%;
}
 /* set the size of the datepicker search control for Order Date*/
        #ui-datepicker-div { font-size:11px; }
        .ui-datepicker { z-index: 2000 }
        
        /* set the size of the autocomplete search control*/
        .ui-menu-item {
            font-size: 11px;
        }

         .ui-autocomplete {
            z-index: 2000;
            font-size: 11px;
        }  
p {
      visibility:hidden;
}		
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }	
 </style>
<img src="ajax-loader.gif" class="displayed" style="position:relative;" id="load" width="50px" height="50px"/>
<script>
$(document).ready(function(){

    $("legend").hide();
});
$(document).load(function(){
    $("#load").append('loaded');
});
$(document).ready(function(){

    $("#load").hide();
});
$(document).ready(function(){

    $("legend").show();
});
</script> 
</head>

<body>
<div id="row1">
<center><legend>Décaissements du mois dernier résultant d'une clôture anticipée </legend></center>
    <center><table id="jqGrid" ></table></center>	</div>
    <div id="jqGridPager" style="position:relative;"></div>
	
<script type="text/javascript"> 
var agence = sessionStorage.getItem("agence");	
$(document).ready(function () {
	
	

		$("#jqGrid").jqGrid({
		url: "../controller/api/fn_clot_anticipe_m?agence="+agence,
		datatype: "json",
		 colModel: [
			{ label: 'RSM',width:150,align:"center", name: 'rsm',sorttype:"string",stype: "select", searchoptions:{dataUrl:'../controller/rsm.php'}},
			{ label: 'RIM NO',width: 50,align:"center", name: 'rim',sorttype: "integer" },
			{ label: 'Nom Client',align:"center", name: 'NomCLT' },
			{ label: 'Date de décaissement',width: 50, name: 'Num_prêt',align:"center",sorttype: "date", formatter:'date',formatoptions:{srcformat:"Y-m-d",newformat:"d/m/Y"},searchoptions: {
                            // dataInit is the client-side event that fires upon initializing the toolbar search field for a column
                            // use it to place a third party control to customize the toolbar
                            dataInit: function (element) {
                                $(element).datepicker({
                                    id: 'orderDate_datePicker',
                                    dateFormat: 'dd/mm/yy',
                                    //minDate: new Date(2010, 0, 1),
                                    maxDate: new Date(2020, 0, 1),
                                    showOn: 'focus'
                                });
			}} },
			
			{ label: 'Montant décaissé', name: 'Montant_décaissé',width: 50,align:"center",sorttype: 'integer',formatter:'integer', formatoptions:{decimalSeparator:".", thousandsSeparator: " ", decimalPlaces: 0}},
			{ label: 'Cycle', name: 'Cycle',width: 50,align:"center",sorttype: 'integer',formatter:'integer', formatoptions:{decimalSeparator:".", thousandsSeparator: " ", decimalPlaces: 0}},
			{ label: 'Maturité C-1',width: 50, name: 'datemat',align:"center",sorttype: "date", formatter:'date',formatoptions:{srcformat:"Y-m-d",newformat:"d/m/Y"},searchoptions: {
                            // dataInit is the client-side event that fires upon initializing the toolbar search field for a column
                            // use it to place a third party control to customize the toolbar
                            dataInit: function (element) {
                                $(element).datepicker({
                                    id: 'orderDate_datePicker',
                                    dateFormat: 'dd/mm/yy',
                                    //minDate: new Date(2010, 0, 1),
                                    maxDate: new Date(2020, 0, 1),
                                    showOn: 'focus'
                                });
			}} },
			{ label: 'Capital C-1', name: 'Montant_capital_remboussé',width: 50,align:"center",sorttype: 'integer',formatter:'integer', formatoptions:{decimalSeparator:".", thousandsSeparator: " ", decimalPlaces: 0}},
			
		],
		pgbuttons: false,    
		pgtext: false, 
		viewrecords: true, 
		autowidth:true,
		height: 490,
		rowNum: 10000,
		loadonce: true,
		pager: "#jqGridPager",
		footerrow: true,
	

                loadComplete: function () {
                    var $self = $(this),
							sum1 = $self.jqGrid("getCol", "Montant_décaissé", false, "sum");
							sum2 = $self.jqGrid("getCol", "Montant_capital_remboussé", false, "sum");
						
						
						sum1=parseInt(sum1);
						sum2=parseInt(sum2);
						
                    $self.jqGrid("footerData", "set", {rsm: "Total en TND:", Montant_décaissé: sum1, Montant_capital_remboussé: sum2});
					
					
                }
	});
	$("#jqGrid").jqGrid('navGrid','#jqGridPager',{add:false,del:false,edit:false,search:true,refresh:false},
                        {},{},{},{multipleSearch:true});
	
	
						
		setPrintGrid('jqGrid','jqGridPager','Print');setExportGrid('jqGrid','jqGridPager','Export');
		
        });



 </script>
 <br>
<div id='prt-container' ><p> Décaissements du mois dernier résultant d'une clôture anticipée </p><br></div></div>

</body>
</html>