<html>

<head>
	
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title class="defileParent">Webreporting ™- Advans Tunisie</title>
	<link rel="icon" type="image/gif" href="../../imageedit.gif" />
	<!--style--> 
	<link rel="stylesheet" type="text/css" media="screen" href="../../css/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../../css/ui.jqgrid.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../../css/bootstrap-submenu.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../../css/jquery_notification.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../../css/tableau.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../../css/font-awesome.css">
	
	<!--JS File-->
	<script type="text/javascript"  src="../../js/jquery-1.10.2.js"></script>
	<script type="text/javascript"  src="../../js/jquery-ui.js"></script>
	<script type="text/javascript"  src="../../js/jquery-migrate-1.2.1.min.js"></script>
	<script src="../../js/jquery_notification_v.1.js"></script>
	<script type="text/javascript" src="../../js/accounting.js"></script>
	<script type="text/javascript"  src="../../js/tableExport1.js"></script>
	<script type="text/javascript"  src="../../js/jquery.base64.js"></script>
	<script type="text/javascript" src="../../js/exportexcel.js"></script>
	<script type="text/javascript"  src="../../js/imprime.js"></script>
	<script type="text/javascript"  src="../../js/canvasjs.min.js"></script>
	<script type="text/ecmascript"  src="../../js/jquery.jqGrid.min.js"></script>
    <script type="text/ecmascript"  src="../../js/i18n/grid.locale-en.js"></script>
	<script type="text/javascript"  src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript"  src="../../js/bootstrap-submenu.js"></script>
	<script type="text/javascript"  src="../../js/jquery.printelement.js" type="text/javascript"></script>
	<script type="text/javascript"  src="../../js/actiondg.js"></script>
	<script type="text/javascript" src="../../js/bootstrap-notify.js"></script>
	<script type="text/javascript"  src="../../js/moment.js"></script>
	<script src="../../module_graphs/js/highcharts.js"></script>
	<script src="../../module_graphs/js/exporting.js"></script>
	<script type="text/javascript" src="../../js/xlsx.core.min.js"></script>
	<script type="text/javascript" src="../../js/Blob.js"></script>
	<script type="text/javascript" src="../../js/FileSaver.js"></script>
	<script type="text/javascript" src="../../js/Export2Excel.js"></script>

	
	<script>if(sessionStorage.length == 0) {window.location.replace("../../cnx/deconnexion.php")};</script>
	<script> var classcode = sessionStorage.getItem("classcode"); 
			if ((classcode=="700") || (classcode=="720") || (classcode=="730") || (classcode=="800"))
			{}
			else {window.location.replace("../../cnx/deconnexion.php");}</script> 
	
	
	<script>
            window.location.hash = "no-back-button";
            window.location.hash = "Again-No-back-button"; 
            window.onhashchange = function () {
                window.location.hash = "no-back-button";
            }
			
	$(function() {
  $(".nav li").on("click", function() {
    $(".nav li").removeClass("active");
    $(this).addClass("active");
  });
  
});
        </script>
			<style>

.zoom
{
    zoom: 80%;
}

</style>
<style>
.defileParent {
	display: block;
	margin: 3em auto;
	overflow: hidden;
	position: relative;
	table-layout: fixed;
	width: 700px;
}
</style>		
	<script>
		    $(function(){
			
			

    $(".dropdown-submenu").hover(            
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            });
    });
		</script>
		
	</head>
	<body >
<header>
<nav class="navbar navbar-default">
            <div class="container-fluid">
    <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
      <img src="../../img/advtn.gif"  width="120px" height="40px"/>
    </div>
   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	  <li><a href="#" id="info_page" data-toggle="pill"><span class="glyphicon glyphicon-home" ></span></a></li>
	  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-expanded="false" ><span class="glyphicon glyphicon-registration-mark" ></span> Reporting  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
					<li class="dropdown-submenu">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-expanded="false" ><span class="glyphicon glyphicon-ruble" ></span> Reporting Live</a>
						<ul class="dropdown-menu">
                        <li><a href="#" id="reporting"  ><span class="glyphicon glyphicon-ruble" ></span> Reporting opérationnel</a></li>
						<li><a href="#" id="budget"  ><span class="glyphicon glyphicon-bitcoin" ></span> Reporting Direction</a></li>
						
						</ul>
						   </li>
						 <li class="divider"></li>
						<li><a href="#" id="reporting_info_client"  ><span class="glyphicon glyphicon-knight" ></span> Reporting Info Client</a></li>
						<li class="divider"></li>
						  <li><a href="#" id="stats" ><span class="glyphicon glyphicon-stats"></span> Graphiques</a></li>
						
						<!--<li class="divider"></li>
						 <li class="dropdown-submenu">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-expanded="false" ><span class="glyphicon glyphicon-flash" ></span> Productivité</a>
						<ul class="dropdown-menu">
						<li><a href="#" id="prod" ><span class="glyphicon glyphicon-flash"></span> Productivité CC/Agence</a></li>
						<li><a href="#" id="prodglob" ><span class="glyphicon glyphicon-flash"></span> Productivité global</a></li>
						</ul>
						   </li>-->
 
						<li class="divider"></li>
						<li class="dropdown-submenu">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-expanded="false" ><span class="glyphicon glyphicon-usd"></span> Historique</a>
						<ul class="dropdown-menu">
						<li><a href="#" id="global" ><span class="glyphicon glyphicon-usd"></span> Historique par CC</a></li>
						</ul>
						</li>
						<li class="divider"></li>
						<li class="dropdown-submenu">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-expanded="false" ><span class="glyphicon glyphicon-bitcoin" ></span> Reporting M-1</a>
						<ul class="dropdown-menu">
						<li><a href="#" id="budgetm"  ><span class="glyphicon glyphicon-bitcoin" ></span> Reporting Direction</a></li>
						<li><a href="#" id="provisionm" ><span class="glyphicon glyphicon-ruble" ></span> Provision</a></li>
						<li><a href="#" id="Silatech" ><span class="glyphicon glyphicon-ruble" ></span> Reporting Silatech</a></li>
						<li><a href="#" id="maturite_portefeuille" ><span class="glyphicon glyphicon-ruble" ></span> Maturite Portefeuille</a></li>
						<li><a href="#" id="par_acm" ><span class="glyphicon glyphicon-ruble" ></span> PAR ACM</a></li>
						<li><a href="#" id="Rapport_ACM" ><span class="glyphicon glyphicon-ruble" ></span> Rapport ACM</a></li>
						<li><a href="#" id="reserve_credit" ><span class="glyphicon glyphicon-ruble" ></span> Intérêts des crédit reservés</a></li>
						<li><a href="#" id="cdr_orbit" ><span class="glyphicon glyphicon-ruble" ></span> Test de conformité CDR vs ORBIT</a></li>
						<li><a href="#" id="lst_cr_ref" ><span class="glyphicon glyphicon-ruble" ></span> Liste crédit restructuré</a></li>
						<li><a href="#" id="lst_reporting_frais_gage" ><span class="glyphicon glyphicon-ruble" ></span> Liste frais Gage</a></li>
						<li><a href="#" id="lst_reporting_test_garantis" ><span class="glyphicon glyphicon-ruble" ></span> Liste reporting test garantis</a></li>
						<li><a href="#" id="lst_reporting_histo_gl" ><span class="glyphicon glyphicon-ruble" ></span> Liste reporting histo GL</a></li>
						</ul>
						   </li>
                    </ul>
                </li>
	<li><a href="#" id="reporting_crm_hebdo" data-toggle="pill"><span class="glyphicon glyphicon-move" ></span> Reporting CRM</a></li>
	<li><a href="#" id="audit_ac" data-toggle="pill"><span class="glyphicon glyphicon-move" ></span> Tableau de bord AC</a></li>   
<li><a href="#" id="caisse_principal" data-toggle="pill"><span class="glyphicon glyphicon-move" ></span> caisse principal</a></li> 
	 <li class="dropdown ">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><span class="glyphicon glyphicon-list-alt"></span> Demandes <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
	  <li><a href="#" id="demande1" ><span class="glyphicon glyphicon-list"></span> Liste demandes wiem</span></a></li>
	  <li><a href="#" id="demandecdr" ><span class="glyphicon glyphicon-list"></span> Liste demandes CDR</span></a></li>
	    <li><a href="#" id="demandeclose" ><span class="glyphicon glyphicon-list"></span> Liste des demandes clôturées dans le mois</span></a></li>
	   </ul>
        </li>
	  
           <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><span class="glyphicon glyphicon-list-alt"></span> Echéances <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ><a href="#" id="echj" >Liste des échéances du jour</a></li>
            <li ><a href="#" id="echattendu" >Liste des échéances futures</a></li>
					<li class="divider"></li>
			<li><a href="#" id="resechencrous" > Respect des échéances du mois en cours</a></li>
			<li><a href="#" id="resecheder" > Respect des échéances du mois dernier</a></li>
          </ul>
        </li>
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><span class="glyphicon glyphicon-flag"></span> Impayés <span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
		<li><a href="#" id="impsimp" > Impayés simplifié</a></li>
		<li><a href="#" id="impdet" >Impayés détaillé</a></li>
		<li><a href="#" id="engage" > Liste des engagements</a></li>
		
		</ul>
		</li>
		 <li class="dropdown " >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><span class="glyphicon glyphicon-list-alt"></span> Décaissements <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ><a href="#" id="decaissmcours" >Décaissement du mois en cours</a></li>
            <li><a href="#" id="decaissmder" >Décaissement du mois dernier</a></li>
          </ul>
        </li>
		     <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><span class="glyphicon glyphicon-book"></span> Portefeuille <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"id="portfeuille" >Etat portefeuille Crédit</a></li>
            <li ><a href="#" id="coorclt" >Coordonnées clients</a></li>
			<li><a href="#" id="cltmcours" >Liste des RIM créés dans le mois</a></li>
			<li><a href="#" id="liste_maturite_40" data-toggle="pill"> Crédit à maturité </a></li>
			<li><a href="#" id="portfeuille_cdr" data-toggle="pill">Etat portefeuille Crédit CDR</a></li>
			<li><a href="#" id="lst_endet_croise" data-toggle="pill">Endettements croisés</a></li>
			<li><a href="#" id="lst_r_abondan" data-toggle="pill">liste des clients sortants</a></li>
			<li><a href="#" id="lst_r_clients_credit_complem" data-toggle="pill">Clients éligibles à un crédit complémentaire</a></li>
          </ul>
        </li>
		<li><a href="#" id="visitecrm" ><span class="glyphicon glyphicon-screenshot" ></span> Visite de suivi</a></li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-ok-sign"></span> Backoffice <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
         <!--   <li ><a href="#">Liste des échéances attendues BO</a></li>
            <li ><a href="#">Liste des réguls</a></li>-->
			<li ><a id="clot_anticip_m" href="#">Décaissements du mois dernier résultant d'une clôture anticipée</a></li>
			  <li ><a href="#" id="clot_anticip">Décaissements du mois résultant d'une clôture anticipée </a></li>
			  <li><a id="transfere_cr" href="#"> Transferts de portefeuille des 2 derniers mois</a></li>
			  <li><a id="liste_regul" href="#"> Liste des réguls</a></li>
			  <li><a id="liste_ech_bo" href="#"> Liste des échéances attendues Back Office</a></li>
			  <li><a id="tirage_BM" href="#"> Tirage Ligne Banque Mondiale</a></li>
          </ul>
        </li>
			<li class="dropdown">
		
		
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-toggle="pill"><span class="glyphicon glyphicon-book"></span> Reporting recouvrement <span class="caret"></span></a>  
		  <ul class="dropdown-menu" role="menu">
            <li><a href="#" id="synth" >Synthèse</a></li>
				<li class="dropdown-submenu">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-expanded="false" > Clôtures</a>
						<ul class="dropdown-menu">
						<li><a href="#" id="clot"  ><span class="glyphicon glyphicon-bitcoin" ></span> Clotûres du mois</a></li>
						<li><a href="#" id="clotprec" ><span class="glyphicon glyphicon-ruble" ></span> Clotûres du mois précédent</a></li>
						
						</ul>
						   </li>
			
			<li class="dropdown-submenu">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-expanded="false" > Flux de Remboursements</a>
						<ul class="dropdown-menu">
						<li><a href="#" id="flxremb"  ><span class="glyphicon glyphicon-bitcoin" ></span> Flux du moi en cours</a></li>
						<li><a href="#" id="flxrembprec" ><span class="glyphicon glyphicon-ruble" ></span> Flux du mois précédent</a></li>
						
						</ul>
						   </li>
		
			
			<li><a href="#" id="actn">Actions</a></li>
			<li><a href="#" id="strategie">Stratégies</a></li>
          </ul>
        
			</li>
      </ul>
	  
	  <ul class="nav navbar-nav navbar-right">
	    
	  
	  <li class="dropdown" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >
		 <script> var nom = sessionStorage.getItem("nom"); document.write(nom); </script>  <span class="glyphicon glyphicon-user"></span><span class="caret"></span>       
		  </a>
          <ul class="dropdown-menu" role="menu">
			<li ><a href="#" id="import_obj" >Import Objectif Budgetaire  <span class="glyphicon glyphicon-road" ></span></a></li>
			<li ><a href="#" id="passwd" >Changer Mot de passe  <span class="glyphicon glyphicon-lock" ></span></a></li>
			<li><a href="#" id="notification">Backoffice Notification  <span class="glyphicon glyphicon-sunglasses"></span></a></li>
			<li><a target="_blank" href="../../Admin/" id="admin"> Administration <i class="fa fa-key" aria-hidden="true"></i></a></li>
            <li><a href="../../cnx/deconnexion.php">Déconnexion   <span class="glyphicon glyphicon-off"></span></a></li>
          
          </ul>
        </li>
	   </ul>
  
  </div>
</nav>
        </header>
<body>
  <div class="col-md-12" id="container" style="padding-top:5px;" >

        </div>
		<div id="demande1"></div>
		<div id="caisse_principal"></div>
<script>
		var isadmin = sessionStorage.getItem("isadmin");
		if (isadmin=='No')
		{
		$( "#admin" ).addClass( "hidden" );
		}
		</script>		
</body>
</html>