<!DOCTYPE html>

<html lang="en">
<script src="../../js/custom.js"></script>
<script src="../../js/dashbord_recouvrement.js"></script>
<link href="../../css/custom.css" rel="stylesheet">
<link href="../../css/fontawesome/css/font-awesome.min.css" rel="stylesheet">
<link href="../../css/reporting_direction.css" rel="stylesheet">

<body  bgcolor="#DCDCDC">

<div class="col-md-12">	

<div class="col-md-4">	
                        <div class="x_panel">
                          <div class="x_title">
                            <h4>Portefeuille Unité Recouvrement</h4>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <div>
							<h5 class="name_title">Statut  "Non Accrual"</h5>
                              <ul class="list-inline widget_tally">
                                <li>
                                  <p>
                                    <span class="month"><b>Nombre </b></span>
                                    <span class="count" id="nb_pf_rec_nonaccrual"></span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="month"><b>Volume </b></span>
                                    <span class="count" id="vl_pf_rec_nonaccrual"></span>
                                  </p>
                                </li>
                              </ul>
                            </div>
							<div class="divider"></div>
							<div>
							<h5 class="name_title">Statut  "Active Charge Off"</h5>
                              <ul class="list-inline widget_tally">
                                <li>
                                  <p>
                                    <span class="month"><b>Nombre </b></span>
                                    <span class="count" id="nb_pf_rec_chargeoff"></span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="month"><b>Volume </b></span>
                                    <span class="count" id="vl_pf_rec_chargeoff"></span>
                                  </p>
                                </li>
                              </ul>
                            </div>
							<div class="divider"></div>
							<div>
							<h5 class="name_title">Clotures</h5>
                              <ul class="list-inline widget_tally">
                                <li>
                                  <p>
                                    <span class="month"><b>Nombre </b></span>
                                    <span class="count" id="nb_pf_clot"></span>
                                  </p>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
					  
<div class="col-md-4">	
                        <div class="x_panel">
                          <div class="x_title">
                            <h4>Recouvrement du mois Unité Recouvrement</h4>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <div>
							<h5 class="name_title">Statut  "Non Accrual"</h5>
                              <ul class="list-inline widget_tally">
                                <li>
                                  <p>
                                    <span class="month"><b>Nombre </b></span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="month"><b>Volume </b></span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
                              </ul>
                            </div>
							<div class="divider"></div>
							<div>
							<h5 class="name_title">Statut  "Active Charge Off"</h5>
                              <ul class="list-inline widget_tally">
                                <li>
                                  <p>
                                    <span class="month"><b>Nombre </b></span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="month"><b>Volume </b></span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
                              </ul>
                            </div>
							<div class="divider"></div>
							<div>
							<h5 class="name_title">Total</h5>
                              <ul class="list-inline widget_tally">
                                <li>
                                  <p>
									<span class="month"><b>Nombre </b></span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
								<li>
                                  <p>
                                    <span class="month"><b>Volume </b></span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
					  
<div class="col-md-4">	
                        <div class="x_panel">
                          <div class="x_title">
                            <h4>Dépence du mois Unité Recouvrement</h4>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <div>
							<h5 class="name_title">Frais Recuperable</h5>
                              <ul class="list-inline widget_tally">
                                <li>
                                  <p>
                                    <span class="month"><b>Nombre </b></span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="month"><b>Volume </b></span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
                              </ul>
                            </div>
							<div class="divider"></div>
							<div>
							<h5 class="name_title">Frais Non recuperable</h5>
                              <ul class="list-inline widget_tally">
                                <li>
                                  <p>
                                    <span class="month"><b>Nombre </b></span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="month"><b>Volume </b></span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
                              </ul>
                            </div>
							<div class="divider"></div>
							<div>
							<h5 class="name_title">Commission</h5>
                              <ul class="list-inline widget_tally">
                                <li>
                                  <p>
									<span class="month"><b>Nombre </b></span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
								<li>
                                  <p>
                                    <span class="month"><b>Volume </b></span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>					  
</body>
</html>