<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../../js/rapport_acm.js" async ></script>
<script type="text/javascript" src="../../js/xlsx.core.min.js"></script>
<script type="text/javascript" src="../../js/Blob.js"></script>
<script type="text/javascript" src="../../js/FileSaver.js"></script>
<script type="text/javascript" src="../../js/Export2Excel.js"></script>
<script>
function doit() { export_table_to_excel('table','Repartition_des_credits_Rapport_ACM'); }
</script>
<style type="text/css">

.center { 
margin:0; 
padding:0; 
text-align:center; 
font-size:11px;
}

.center_footer { 
margin:0; 
padding:0; 
text-align:center; 
font-size:13px;
font-weight: bold;
}
	.ex:hover
			{
				cursor: pointer;
			}
  </style>
        <title>Répartition des crédits Rapport ACM</title>
</head>



<body>

		<div class="row1">
<legend> <span class="glyphicon glyphicon-bitcoin" ></span> Répartition des crédits Rapport ACM</legend>
<div class="row1">
<div class="ex">	
						<li>						
								<img src='../../img/excel.jpg' onclick="doit();" width='24px'> Excel</a>
						</li>	
						
						</div>	
<table id="table" class="table table-striped" >
<TR>
<td width="200px"></td>
<td width="100px" colspan="3" class="center" bgcolor="#98DB9C"><center>Décaissements</center></td>
<td width="100px" colspan="3" class="center" bgcolor="#98DB9C"><center>Encours</center></td>

</TR>
<tbody>

<tr>
<td  bgcolor="#ffb90f" class="center" >Gouvernorat</td>
<td id="" bgcolor="#98DB9C" class="center"><center>Nombre Crédit</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Nombre Client</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Montant (DT)</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Nombre Crédit</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Nombre Client</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Montant (DT)</center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Tunis</td>
<td id="DECTUNNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECTUNVL"  class="center"><center></center></td>
<td id="ENCTUNNB"  class="center"><center></center></td>
<td id="ENCTUNNBCLT"  class="center"><center></center></td>
<td id="ENCTUNVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Ariana</td>
<td id="DECARINB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECARIVL"  class="center"><center></center></td>
<td id="ENCARINB"  class="center"><center></center></td>
<td id="ENCARINBCLT"  class="center"><center></center></td>
<td id="ENCARIVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Manouba</td>
<td id="DECMANNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECMANVL"  class="center"><center></center></td>
<td id="ENCMANNB"  class="center"><center></center></td>
<td id="ENCMANNBCLT"  class="center"><center></center></td>
<td id="ENCMANVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Ben Arous</td>
<td id="DECBENNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECBENVL"  class="center"><center></center></td>
<td id="ENCBENNB"  class="center"><center></center></td>
<td id="ENCBENNBCLT"  class="center"><center></center></td>
<td id="ENCBENVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Nabeul</td>
<td id="DECNABNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECNABVL"  class="center"><center></center></td>
<td id="ENCNABNB"  class="center"><center></center></td>
<td id="ENCNABNBCLT"  class="center"><center></center></td>
<td id="ENCNABVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Bizerte</td>
<td id="DECBIZNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECBIZVL"  class="center"><center></center></td>
<td id="ENCBIZNB"  class="center"><center></center></td>
<td id="ENCBIZNBCLT"  class="center"><center></center></td>
<td id="ENCBIZVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Zaghouan</td>
<td id="DECZAGHNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECZAGHVL"  class="center"><center></center></td>
<td id="ENCZAGHNB"  class="center"><center></center></td>
<td id="ENCZAGHNBCLT"  class="center"><center></center></td>
<td id="ENCZAGHVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center_footer" ><b>Total Nord-Est</b></td>
<td id="DEC1000NB"  class="center_footer"><b><center></center></b></td>
<td id=""  class="center_footer"><b><center></center></b></td>
<td id="DEC1000VL"  class="center_footer"><b><center></center></b></td>
<td id="ENC1000NB"  class="center_footer"><<b><center></center></b></td>
<td id="ENC1000NBCLT"  class="center_footer"><b><center></center></b></td>
<td id="ENC1000VL"  class="center_footer"><b><center></center></b></td>
</tr>

<!----- Total Nord-Est -->

<tr>
<td  bgcolor="#ffe4e1" class="center" >Béja</td>
<td id="DECBEJNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECBEJVL"  class="center"><center></center></td>
<td id="ENCBEJNB"  class="center"><center></center></td>
<td id="ENCBEJNBCLT"  class="center"><center></center></td>
<td id="ENCBEJVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Jendouba</td>
<td id="DECJENNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECJENVL"  class="center"><center></center></td>
<td id="ENCJENNB"  class="center"><center></center></td>
<td id="ENCJENNBCLT"  class="center"><center></center></td>
<td id="ENCJENVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >El Kef</td>
<td id="DECKEFNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECKEFVL"  class="center"><center></center></td>
<td id="ENCKEFNB"  class="center"><center></center></td>
<td id="ENCKEFNBCLT"  class="center"><center></center></td>
<td id="ENCKEFVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Siliana</td>
<td id="DECSELNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECSELVL"  class="center"><center></center></td>
<td id="ENCSELNB"  class="center"><center></center></td>
<td id="ENCSELNBCLT"  class="center"><center></center></td>
<td id="ENCSELVL"  class="center"><center></center></td>
</tr>

<tr>
<td  bgcolor="#ffe4e1" class="center_footer" ><b>Total Nord-Ouest</b></td>
<td id="DEC4000NB"  class="center_footer"><b><center></center></b></td>
<td id=""  class="center"><b><center_footer></center></b></td>
<td id="DEC4000VL"  class="center_footer"><b><center></center></b></td>
<td id="ENC4000NB"  class="center_footer"><b><center></center></b></td>
<td id="ENC4000NBCLT"  class="center_footer"><b><center></center></b></td>
<td id="ENC4000VL"  class="center_footer"><b><center></center></b></td>
</tr>

<!----- Total Nord-Ouest -->

<tr>
<td  bgcolor="#ffe4e1" class="center" >Sousse</td>
<td id="DECSOUNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECSOUVL"  class="center"><center></center></td>
<td id="ENCSOUNB"  class="center"><center></center></td>
<td id="ENCSOUNBCLT"  class="center"><center></center></td>
<td id="ENCSOUVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Monastir</td>
<td id="DECMONNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECMONVL"  class="center"><center></center></td>
<td id="ENCMONNB"  class="center"><center></center></td>
<td id="ENCMONNBCLT"  class="center"><center></center></td>
<td id="ENCMONVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Mahdia</td>
<td id="DECMEHNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECMEHVL"  class="center"><center></center></td>
<td id="ENCMEHNB"  class="center"><center></center></td>
<td id="ENCMEHNBCLT"  class="center"><center></center></td>
<td id="ENCMEHVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Sfax</td>
<td id="DECSFANB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECSFAVL"  class="center"><center></center></td>
<td id="ENCSFANB"  class="center"><center></center></td>
<td id="ENCSFANBCLT"  class="center"><center></center></td>
<td id="ENCSFAVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center_footer" ><b>Total Centre-Est</b></td>
<td id="DEC2000NB"  class="center_footer"><b><center></center></b></td>
<td id=""  class="center_footer"><b><center></center></b></td>
<td id="DEC2000VL"  class="center_footer"><b><center></center></b></td>
<td id="ENC2000NB"  class="center_footer"><b><center></center></b></td>
<td id="ENC2000NBCLT"  class="center_footer"><b><center></center></b></td>
<td id="ENC2000VL"  class="center_footer"><b><center></center></b></td>
</tr>

<!----- Total Centre-Est -->

<tr>
<td  bgcolor="#ffe4e1" class="center" >Kairouan</td>
<td id="DECKAIRNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECKAIRVL"  class="center"><center></center></td>
<td id="ENCKAIRNB"  class="center"><center></center></td>
<td id="ENCKAIRNBCLT"  class="center"><center></center></td>
<td id="ENCKAIRVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Sidi Bouzid</td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Kasserine</td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
</tr>

<tr>
<td  bgcolor="#ffe4e1" class="center_footer" ><b>Total Centre-Ouest</b></td>
<td id="DEC3000NB"  class="center_footer"><b><center></center></b></td>
<td id=""  class="center_footer"><b><center></center></b></td>
<td id="DEC3000VL"  class="center_footer"><b><center></center></b></td>
<td id="ENC3000NB"  class="center_footer"><b><center></center></b></td>
<td id="ENC3000NBCLT"  class="center_footer"><b><center></center></b></td>
<td id="ENC3000VL"  class="center_footer"><b><center></center></b></td>
</tr>

<!----- Total Centre-Ouest -->

<tr>
<td  bgcolor="#ffe4e1" class="center" >Gabès</td>
<td id="DECGABNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECGABVL"  class="center"><center></center></td>
<td id="ENCGABNB"  class="center"><center></center></td>
<td id="ENCGABNBCLT"  class="center"><center></center></td>
<td id="ENCGABVL"  class="center"><center></center></td>
</tr>

<tr>
<td  bgcolor="#ffe4e1" class="center" >Mednine</td>
<td id="DECMEDNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECMEDVL"  class="center"><center></center></td>
<td id="ENCMEDNB"  class="center"><center></center></td>
<td id="ENCMEDNBCLT"  class="center"><center></center></td>
<td id="ENCMEDVL"  class="center"><center></center></td>
</tr>

<tr>
<td  bgcolor="#ffe4e1" class="center" >Tataouine</td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
</tr>

<tr>
<td  bgcolor="#ffe4e1" class="center" ><b>Total Sud-Est</b></td>
<td id="DEC5000NB"  class="center_footer"><center></center></td>
<td id=""  class="center_footer"><center></center></td>
<td id="DEC5000VL"  class="center_footer"><center></center></td>
<td id="ENC5000NB"  class="center_footer"><center></center></td>
<td id="ENC5000NBCLT"  class="center_footer"><center></center></td>
<td id="ENC5000VL"  class="center_footer"><center></center></td>
</tr>

<!----- Total Sud-Est -->
<tr>
<td  bgcolor="#ffe4e1" class="center" >Gafsa</td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Kebili</td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Tozeur</td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" ><b>Total Sud-Est</b></td>
<td id=""  class="center_footer"><center></center></td>
<td id=""  class="center_footer"><center></center></td>
<td id=""  class="center_footer"><center></center></td>
<td id=""  class="center_footer"><center></center></td>
<td id=""  class="center_footer"><center></center></td>
<td id=""  class="center_footer"><center></center></td>
</tr>

<!----- Total Sud-Est -->

<tr>
<td  bgcolor="#ffe4e1" class="center_footer" ><b>Total</b></td>
<td id="DECREGNB"  class="center_footer"><b><center></center></b></td>
<td id=""  class="center_footer"><center><b></center></b></td>
<td id="DECREGVL"  class="center_footer"><b><center></center></b></td>
<td id="ENCREGNB"  class="center_footer"><b><center></center></b></td>
<td id="ENCREGNBCLT"  class="center_footer"><b><center></center></b></td>
<td id="ENCREGVL"  class="center_footer"><b><center></center></b></td>
</tr>
<!--------------------------------------------->
<tr>
<td  bgcolor="#ffb90f" class="center" >Secteur d'activité</td>
<td id="" bgcolor="#98DB9C" class="center"><center>Nombre Crédit</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Nombre Client</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Montant (DT)</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Nombre Crédit</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Nombre Client</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Montant (DT)</center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >N/A</td>
<td id="DECNANB"  class="center"><center></center></td>
<td id="DECNAVLCLT"  class="center"><center></center></td>
<td id="DECNAVL"  class="center"><center></center></td>
<td id="ENCNANB"  class="center"><center></center></td>
<td id="ENCNANBCLT"  class="center"><center></center></td>
<td id="ENCNAVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Education</td>
<td id="DECSOCNB"  class="center"><center></center></td>
<td id="DECSOCVLCLT"  class="center"><center></center></td>
<td id="DECSOCVL"  class="center"><center></center></td>
<td id="ENCSOCNB"  class="center"><center></center></td>
<td id="ENCSOCNBCLT"  class="center"><center></center></td>
<td id="ENCSOCVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Amélioration du logement</td>
<td id="DECVLOGENB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECVLOGEVL"  class="center"><center></center></td>
<td id="ENCLOGENB"  class="center"><center></center></td>
<td id="ENCLOGENBCLT"  class="center"><center></center></td>
<td id="ENCLOGEVL"  class="center"><center></center></td>

</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Agriculture</td>
<td id="DECAGRNB"  class="center"><center></center></td>
<td id="DECAGRNBCLT"  class="center"><center></center></td>
<td id="DECAGRVL"  class="center"><center></center></td>
<td id="ENCAGRNB"  class="center"><center></center></td>
<td id="ENCAGRNBCLT"  class="center"><center></center></td>
<td id="ENCAGRVL"  class="center"><center></center></td>
</tr>

<tr>
<td  bgcolor="#ffe4e1" class="center" >Elevage</td>
<td id="DECELVNB"  class="center"><center></center></td>
<td id="DECELVNBCLT"  class="center"><center></center></td>
<td id="DECELVVL"  class="center"><center></center></td>
<td id="ENCELVNB"  class="center"><center></center></td>
<td id="ENCELVNBCLT"  class="center"><center></center></td>
<td id="ENCELVVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Artisanat</td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Petits métiers</td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Production</td>
<td id="DECPRODNB"  class="center"><center></center></td>
<td id="DECPRODNBCLT"  class="center"><center></center></td>
<td id="DECPRODVL"  class="center"><center></center></td>
<td id="ENCPRODNB"  class="center"><center></center></td>
<td id="ENCPRODNBCLT"  class="center"><center></center></td>
<td id="ENCPRODVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Commerce</td>
<td id="DECVENTENB"  class="center"><center></center></td>
<td id="DECVENTENBCLT"  class="center"><center></center></td>
<td id="DECVENTEVL"  class="center"><center></center></td>
<td id="ENCVENTENB"  class="center"><center></center></td>
<td id="ENCVENTENBCLT"  class="center"><center></center></td>
<td id="ENCVENTEVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" >Services</td>
<td id="DECSERVNB"  class="center"><center></center></td>
<td id="DECSERVNBCLT"  class="center"><center></center></td>
<td id="DECSERVVL"  class="center"><center></center></td>
<td id="ENCSERVNB"  class="center"><center></center></td>
<td id="ENCSERVNBCLT"  class="center"><center></center></td>
<td id="ENCSERVVL"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" ><b>Total activité</b></td>
<td id="DECACTNB"  class="center"><center></center></td>
<td id=""  class="center"><center></center></td>
<td id="DECACTVL"  class="center"><center></center></td>
<td id="ENCATNB"  class="center"><center></center></td>
<td id="ENCATNBCLT"  class="center"><center></center></td>

<td id="ENCATVL"  class="center"><center></center></td>
</tr>
<!--------------------------------------------->
<tr>
<td  bgcolor="#ffb90f" class="center" >Genre</td>
<td id="" bgcolor="#98DB9C" class="center"><center>Nombre Crédit</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Nombre Client</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Montant (DT)</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Nombre Crédit</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Nombre Client</center></td>
<td id="" bgcolor="#98DB9C" class="center"><center>Montant (DT)</center></td>
</tr>

<tr>
<td  bgcolor="#ffe4e1" class="center" > Part des Hommes </td>
<td id="DecMnb"  class="center"><center></center></td>
<td id="DecMnbclt"  class="center"><center></center></td>
<td id="DecMvl"  class="center"><center></center></td>
<td id="EncoursMnb"  class="center"><center></center></td>
<td id="EncoursMnbclt"  class="center"><center></center></td>
<td id="EncoursMvl"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" > Part des Femmes</td>
<td id="DecFnb"  class="center"><center></center></td>
<td id="DecFnbclt"  class="center"><center></center></td>
<td id="DecFvl"  class="center"><center></center></td>
<td id="EncoursFnb"  class="center"><center></center></td>
<td id="EncoursFnbclt"  class="center"><center></center></td>
<td id="EncoursFvl"  class="center"><center></center></td>
</tr>
<tr>
<td  bgcolor="#ffe4e1" class="center" ><b>Total genre </b></td>
<td id="Decnb"  class="center"><center></center></td>
<td id="Decnbclt"  class="center"><center></center></td>
<td id="Decvl"  class="center"><center></center></td>
<td id="Encoursgnb"  class="center"><center></center></td>
<td id="Encoursgnbclt"  class="center"><center></center></td>
<td id="Encoursgvl"  class="center"><center></center></td>
</tr>
</tbody>
</table>

</div>
</div>

</body>
</html>
